<!-- views/dashboard.ejs -->


<%- include('./Partials/inAppheaderAdmin');%>
<head>
  <title>Admin Dashboard</title>
  <style>
    .container {
      width: 80%;
      margin: auto;
    }
    .list {
      list-style-type: none;
      padding: 0;
    }
    .list-item {
      margin: 10px 0;
      padding: 10px;
      border: 1px solid #ddd;
    }
    .delete-button {
      background-color: red;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  </style>
  <script>
    function deleteLecturer(id) {
      fetch(`/lecturer/${id}`, { method: 'DELETE' })
        .then(res => location.reload())
        .catch(err => console.error(err));
    }

    function deleteStudent(id) {
      fetch(`/student/${id}`, { method: 'DELETE' })
        .then(res => location.reload())
        .catch(err => console.error(err));
    }
  </script>
</head>
<body>
  <div class="container">
   

    <h4>Lecturers</h4>
    <ul class="list">
      <% lecturers.forEach(lecturer => { %>
        <li class="list-item">
          <h6><%= lecturer.name %></h6>
          <p>Email: <%= lecturer.email %></p>
          <button class="delete-button" onclick="deleteLecturer('<%= lecturer._id %>')">Delete</button>
        </li>
      <% }) %>
    </ul>

    <h4>Students</h4>
    <ul class="list">
      <% students.forEach(student => { %>
        <li class="list-item">
          <h6><%= student.name %></h6>
          <p>Email: <%= student.email %></p>
          <button class="delete-button" onclick="deleteStudent('<%= student._id %>')">Delete</button>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>
