<%- include('./Partials/inAppheader'); %>

<head>
  <!-- Add these script tags in the head section of your HTML file -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-ZPJpp88dEpHvKL0UmiWl75erDGMKKqgN0vAZTwNNqafztm75iRVJnBmtuW+YpTKF" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8/+L9q8D+q8M7Sd1g9ekpZ+ss1q/cfX+0nMgGsK4Vhq5m60aTm7X6y4W0OoA" crossorigin="anonymous"></script>
</head>

<main class="d-flex justify-content-center align-items-center flex-column mt-5">
  
  <!-- Display flash messages -->
  <% if (messages.success) { %>
  <div class="alert alert-success" role="alert">
    <%= messages.success %>
  </div>
  <% } else if (messages.error) { %>
  <div class="alert alert-danger" role="alert">
    <%= messages.error %>
  </div>
  <% } %>
  <div id="flash-message" class="flash-message"></div>
  <% if (lecturers.length > 0) { %>
  <% lecturers.forEach((lecturer) => { %>
  <% if (lecturer.availability.length > 0 && lecturer.availability.some(slot => slot.slots.length > 0)) { %>
  <h5 style="text-align: center;"><%= lecturer.name %></h5>
  <table class="table table-bordered" style="width: 60%; margin-bottom: 4rem;">
    <thead style="background-color: #ffab06">
      <tr>
        <th>Day</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Max Students</th>
        <th>Book</th>
      </tr>
    </thead>
    <tbody>
      <% lecturer.availability.forEach((slot) => { %>
      <% if (slot.slots.length > 0) { %>
      <tr>
        <td rowspan="<%= slot.slots.length %>"><%= slot.day %></td>
        <% slot.slots.forEach((timeSlot, index) => { %>
        <% if (index > 0) { %>
        <tr>
          <% } %>
          <td><%= timeSlot.startTime %></td>
          <td><%= timeSlot.endTime %></td>
          <td><%= timeSlot.maxStudents %></td>
          <td>
            <% if (timeSlot.isBook) { %>
            Booked
            <% } else { %>
            <a href="#" onclick="performAction('<%= lecturer.email %>', '<%= slot.day %>', '<%= timeSlot.startTime %>', '<%= timeSlot.endTime %>', '<%= timeSlot.maxStudents %>')">
              <i class="far fa-edit" style="color: black; margin-left: 1rem;"></i>
            </a>
            <% } %>
          </td>
          <% if (index === slot.slots.length - 1) { %>
        </tr>
        <% } %>
        <% }); %>
      </tr>
      <% } %>
      <% }); %>
    </tbody>
  </table>
  <% } %>
  <% }); %>
  <% } else { %>
  <p>No lecturers found</p>
  <% } %>

  <!-- Bootstrap modal -->
  <div class="modal fade" id="consultationModal" tabindex="-1" role="dialog" aria-labelledby="consultationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="consultationModalLabel">Consultation Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
  <!-- Display flash messages -->
  <% if (messages.success) { %>
    <div class="alert alert-success" role="alert">
      <%= messages.success %>
    </div>
    <% } else if (messages.error) { %>
    <div class="alert alert-danger" role="alert">
      <%= messages.error %>
    </div>
    <% } %>
    <div id="flash-message" class="flash-message"></div>
          <form method="POST" action="/consultation" class="consultation-form" >
           <div class="form-group">
            <label for="attendees" id="attendeesList">Add all attendees' emails separeted by comma</label>
            <input type="text" id="attendees" name="attendees" class="form-control" required />
          </div>
            <label for="lecturerEmail" class="hidden">Lecturer Email</label>
            <input type="email" id="lecturerEmail" name="lecturerEmail"  class="hidden" required />
          
            <label for="maxStudents" class="hidden">Max Students Allowed</label>
            <input type="number" id="maxStudents" name="maxStudents" class="hidden" required />
          
            <label for="day" class="hidden">Day</label>
            <input type="text" id="day" name="day" class="hidden" required />
          
            <label for="startTime" class="hidden">Start Time</label>
            <input type="text" id="startTime" name="startTime" class="hidden" required />
          
            <label for="endTime" class="hidden" >End Time</label>
            <input type="text" id="endTime" name="endTime" class="hidden" required />
            <div class="form-group">
              <label for="eventTittle">Event Title</label>
              <input type="text" id="eventTittle" name="eventTittle" class="form-control" required />
            </div>
           
            <button id="setupButton" type="submit" class="btn btn-primary " style="background-color:#ffab06; border-color: #ffab06;">Set up Consultation</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

<script>
  function performAction(email, day, startTime, endTime, maxStudents) {

    // Show the modal
    $('#consultationModal').modal('show');
    document.getElementById('eventTittle').value = '';
    document.getElementById('attendees').value = '';
    document.getElementById('lecturerEmail').value = email;
    document.getElementById('maxStudents').value = maxStudents;
    document.getElementById('day').value = day;
    document.getElementById('startTime').value = startTime;
    document.getElementById('endTime').value = endTime;
    // document.getElementById('consultation-form').submit();
    // const setupButton = document.getElementById("setupButton");
    // setupButton.classList.remove("hidden");

    // const attendees = document.getElementById("attendees");
    // attendees.classList.remove("hidden");

    // const attendeesList = document.getElementById("attendeesList");
    // attendeesList.classList.remove("hidden");
  

    
  }
</script>
  
 
 
</main>