<%- include('./Partials/inAppheader'); %>

<main class="d-flex justify-content-center align-items-center flex-column mt-5">
  
  <!-- Display flash messages -->
  <% if (messages.success) { %>
   <div class="alert alert-success" role="alert">
     <%= messages.success %>
   </div>
 <% } else if (messages.error) { %>
   <div class="alert alert-danger" role="alert">
     <%= messages.error %>
   </div>
 <% } %>
 <div id="flash-message" class="flash-message"></div>
   <% if (lecturers.length > 0) { %>
    <% lecturers.forEach((lecturer) => { %>
      <% if (lecturer.availability.length > 0 && lecturer.availability.some(slot => slot.slots.length > 0)) { %>

          <h5 style="text-align: center;"><%= lecturer.name %></h5>

       

          <table class="table table-bordered" style="width: 60%; margin-bottom: 4rem;">
            <thead style="background-color: #ffab06">
              <tr>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Max Students</th>
                <th>Book</th>
              </tr>
            </thead>
            <tbody>
              <% lecturer.availability.forEach((slot) => { %>
                <% if (slot.slots.length > 0) { %>
                  <tr>
                    <td rowspan="<%= slot.slots.length %>"><%= slot.day %></td>
                    <% slot.slots.forEach((timeSlot, index) => { %>
                      <% if (index > 0) { %>
                        <tr>
                      <% } %>
                      <td><%= timeSlot.startTime %></td>
                      <td><%= timeSlot.endTime %></td>
                      <td><%= timeSlot.maxStudents %></td>
                      <td>
                        <% if (timeSlot.isBook) { %>
                          Booked
                        <% } else { %>
                          <a href="#" onclick="performAction('<%= lecturer.email %>', '<%= slot.day %>', '<%= timeSlot.startTime %>', '<%= timeSlot.endTime %>', '<%= timeSlot.maxStudents %>')">

<%- include('./Partials/footer'); %>

<style>
  .scrollable-content {
  height: calc(100vh - (80px + 85px)); /* Adjust the values (e.g., 80px and 60px) to match your header and footer heights */
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

</style>
