<%- include('./Partials/inAppheaderLec'); %>

<main class="d-flex justify-content-center align-items-center flex-column mt-5">
  <% if (lecturer.availability && lecturer.availability.length > 0) { %>
  <h5 style="text-align: center"><%= lecturer.name %></h5>

  <% let groupedSlots = {}; %> <% lecturer.availability.forEach((slot) => { %>
  <% if (slot.slots.length > 0) { %> <% slot.slots.forEach((timeSlot) => { %> <%
  if (!groupedSlots[slot.day]) { %> <% groupedSlots[slot.day] = []; %> <% } %>
  <% groupedSlots[slot.day].push(timeSlot); %> <% }); %> <% } %> <% }); %> <%
  Object.keys(groupedSlots).forEach((day) => { %>
  <h6 style="margin-top: 2rem"><%= day %></h6>

  <table class="table sm-table table-bordered" style="width: 60%">
    <thead style="background-color: #ffab06">
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Max Students</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% groupedSlots[day].forEach((timeSlot) => { %>
      <tr>
        <td><%= timeSlot.startTime %></td>
        <td><%= timeSlot.endTime %></td>
        <td><%= timeSlot.maxStudents %></td>
        <td class="text-center">
          <button
            class="btn btn-primary"
            onclick="editSlot('<%= lecturer._id %>', '<%= timeSlot._id %>')"
          >
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
          <button
            class="btn btn-danger"
            onclick="deleteSlot('<%= lecturer._id %>', '<%= timeSlot._id %>')"
          >
            <i class="fa-regular fa-trash-can"></i>
          </button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% }); %> <% } else { %>
  <p>No available slots for <%= lecturer.name %></p>
  <% } %>
</main>


