<%- include('./Partials/inAppheader');%>
<head>
  <link rel="stylesheet" href="./public/styles/studentDashboard.css" />
</head>
<main class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-6 col-sm-12">
      <div class="container">
        <h5>Your upcoming consultations</h5>
        <div class="row">
          <% attendedConsultations.forEach((consultation) => { %>
          <div class="col-md-4 mb-4">
            <div class="card">
             
              <div
                class="card-header"
                style="background-color: #031a39; color: #ffab06"
              >
                <p class="card-title text-center" style="font-weight: bold">
                  Meeting With
                </p>
                <p
                  class="text-center"
                  style="color: #aaa; font-weight: 300; font-size: small"
                >
                  <%= attendedLecturerMap[consultation.lecturerEmail] %>
                </p>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= consultation.lecturerName %></h5>
                <p
                  class="card-text"
                  style="color: #aaa; font-weight: 300; font-size: small"
                >
                  <%= consultation.attendees.length %> students
                </p>
                <%= consultation.day %>
                <div
                  class="card-text mt-2 mb-1"
                  style="color: #aaa; font-weight: 300; font-size: small"
                >
                  <%= consultation.startTime %> till <%= consultation.endTime %>
                </div>
                <form
                  action="/cancel-consultation/<%= consultation._id %>"
                  method="POST"
                >
                  <button
                    type="submit"
                    class="btn btn-warning leave-btn"
                    style="width: 100%"
                  >
                    Cancel
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-sm-12">
      <div class="container">
        <h5>Other Consultations you can join</h5>
        <div class="row">
          <% notAttendedConsultations.forEach((consultation) => { %>
          <div class="col-md-5 mb-4">
            <div class="card">
              <div
                class="card-header"
                style="background-color: #031a39; color: #ffab06"
              >
                <p class="card-title text-center" style="font-weight: bold">
                  Meeting With
                </p>
                <p
                  class="text-center"
                  style="color: #aaa; font-weight: 300; font-size: small"
                >
                  <%= notAttendedLecturerMap[consultation.lecturerEmail] %>
                </p>
              </div>
              <div class="card-body">
                <p
                  class="card-text"
                  style="color: #aaa; font-weight: 300; font-size: small"
                >
                  <%= consultation.attendees.length %> students
                </p>
                <%= consultation.day %>
                <div
                  class="card-text mt-2 mb-1"
                  style="color: #aaa; font-weight: 300; font-size: small"
                >
                  <%= consultation.startTime %> till <%= consultation.endTime %>
                </div>
                <form
                  action="/join-consultation/<%= consultation._id %>"
                  method="POST"
                >
                  <button
                    type="submit"
                    class="btn btn-warning leave-btn"
                    style="width: 100%"
                  >
                    Join
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</main>
