<%- include('./Partials/inAppheader');%>
<head>
  <link rel="stylesheet" href="./public/styles/studentDashboard.css" />
</head>

<div
  style="
    background-image: url('/public/images/.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
  "
>
  <main class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-sm-12">
        <div class="container mt-5">
          <h5>Your upcoming consultations</h5>
          <div class="row">
            <% attendedConsultations.forEach((consultation) => { %>
            <div class="col-md-8 mb-4">
              <div
                class="card"
                style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)"
              >
                <div
                  class="card-header"
                  style="background-color: #031a39; color: #ffab06"
                >
                  <p class="card-title text-center" style="font-weight: bold">
                    Meeting With
                  </p>
                  <p
                    class="text-center"
                    style="color: #aaa; font-weight: 300; font-size: small"
                  >
                    <%= attendedLecturerMap[consultation.lecturerEmail] %>
                  </p>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%= consultation.lecturerName %></h5>
                  <p
                    class="card-text"
                    style="color: #aaa; font-weight: 300; font-size: small"
                  >
                    <i class="fa-solid fa-user-group"></i> <%=
                    consultation.attendees.length %> students
                  </p>
                  <i class="fa-regular fa-calendar"></i> <%= consultation.day %>
                  <div
                    class="card-text mt-2 mb-1"
                    style="color: #aaa; font-weight: 300; font-size: small"
                  >
                    <i class="fa-regular fa-clock"></i> <%=
                    consultation.startTime %> till <%= consultation.endTime %>
                  </div>
                  <form
                    action="/cancel-consultation/<%= consultation._id %>"
                    method="POST"
                    class="mt-5"
                  >
                    <button
                      type="submit"
                      class="btn btn-danger leave-btn"
                      style="width: 100%"
                    >
                      Cancel
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-sm-12">
        <div class="container mt-5">
          <h5>Other Consultations you can join</h5>
          <div class="row">
            <% notAttendedConsultations.forEach((consultation) => { %>
            <div class="col-md-8 mb-4">
              <div class="card">
                <div
                  class="card-header"
                  style="background-color: #031a39; color: #ffab06"
                >
                  <p class="card-title text-center" style="font-weight: bold">
                    Meeting With
                  </p>
                  <p
                    class="text-center"
                    style="color: #aaa; font-weight: 300; font-size: small"
                  >
                    <%= notAttendedLecturerMap[consultation.lecturerEmail] %>
                  </p>
                </div>
                <div class="card-body">
                  <p
                    class="card-text"
                    style="color: #aaa; font-weight: 300; font-size: small"
                  >
                    <i class="fa-solid fa-user-group"></i> <%=
                    consultation.attendees.length %> students
                  </p>
                  <i class="fa-regular fa-calendar"></i> <%= consultation.day %>
                  <div
                    class="card-text mt-2 mb-1"
                    style="color: #aaa; font-weight: 300; font-size: small"
                  >
                    <i class="fa-regular fa-clock"></i> <%=
                    consultation.startTime %> till <%= consultation.endTime %>
                  </div>
                  <form
                    action="/join-consultation/<%= consultation._id %>"
                    method="POST"
                    class="mt-5"
                  >
                    <button
                      type="submit"
                      class="btn btn-warning leave-btn"
                      style="width: 100%"
                    >
                      Join
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>